<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferir Receta a Controlador</title>
    <link rel="stylesheet" href="../css/transfer/transfer-style.css">
</head>
<body>
    <div class="transfer-container">
        <div style="text-align: center;">
            <h1>Transferir datos a controlador</h1>
        </div>
        <div class="transfer-content" style="flex-direction: row;">
            <button onclick="cmdTransferirClick(1)">
                <img src="../images/computer.png" alt="Icon" class="button-transfer">
                Linea 1
            </button>
            <button onclick="cmdTransferirClick(2)">
                <img src="../images/computer.png" alt="Icon" class="button-transfer">
                Linea 2
            </button>
            <button onclick="cmdTransferirClick(3)">
                <img src="../images/computer.png" alt="Icon" class="button-transfer">
                Linea 3
            </button>
            <button onclick="cmdTransferirClick(4)">
                <img src="../images/computer.png" alt="Icon" class="button-transfer">
                Linea 4
            </button>
            <button onclick="cmdTransferirClick(5)">
                <img src="../images/computer.png" alt="Icon" class="button-transfer">
                Linea 5
            </button>
        </div>
    </div>
</body>
<script>
    function cmdTransferirClick(line) {
        console.log("emited");
        window.opener.cwcAbrir.cmdTransferirAction(line);
    }
</script>
</html>