<div class="form-container abrir">
    <div class="form-content-header">
        <table>
            <tbody>
                <tr>
                    <td class="recipe-selector">
                        <label for="recipes">Receta:</label>
                        <select id="cbRecipes">
                        </select>
                    </td>
                    <td class="right-title">
                        <label>Receta perteneciente a Planta IPSA</label>
                    </td>
                </tr>
            </tbody>
         </table>
    </div>

    <div class="abrir-central-content">

        <!-- PANEL DE CONTROL IZQUIERDA -->
        <div>
            <div class="tab-buttons">
                <table>
                    <tr>
                        <td><button type="button" onclick="app.formAbrir.cmdShowTabClick('tab1')">INGREDIENTES TMG</button></td>
                        <td><button type="button" onclick="app.formAbrir.cmdShowTabClick('tab2')">INGREDIENTES BALANZA / EMULSION</button></td>
                        <td><button type="button" onclick="app.formAbrir.cmdShowTabClick('tab3')">PARÁMETROS IPSA</button></td>
                    </tr>
                </table>
            </div>

            <!-- INGREDIENTES TMG TAB -->
            <div id="tab1" class="tab-content active">
                <table id="hotIngredientsTable" class="ingredient-table">
                    <thead>
                        <tr>
                            <th>Ingrediente Caliente</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Descripción Ingrediente</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row1">
                            <td><input type="text" id="h11" autocomplete="off" disabled></td>
                            <td><input type="number" id="h12" autocomplete="off" disabled></td>
                            <td><input type="text" id="h13" autocomplete="off" disabled></td>
                            <td><input type="text" id="h14" autocomplete="off" disabled></td>
                            <td><input type="text" id="h15" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row2">
                            <td><input type="text" id="h21" autocomplete="off" disabled></td>
                            <td><input type="number" id="h22" autocomplete="off" disabled></td>
                            <td><input type="text" id="h23" autocomplete="off" disabled></td>
                            <td><input type="text" id="h24" autocomplete="off" disabled></td>
                            <td><input type="text" id="h25" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row3">
                            <td><input type="text" id="h31" autocomplete="off" disabled></td>
                            <td><input type="number" id="h32" autocomplete="off" disabled></td>
                            <td><input type="text" id="h33" autocomplete="off" disabled></td>
                            <td><input type="text" id="h34" autocomplete="off" disabled></td>
                            <td><input type="text" id="h35" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row4">
                            <td><input type="text" id="h41" autocomplete="off" disabled></td>
                            <td><input type="number" id="h42" autocomplete="off" disabled></td>
                            <td><input type="text" id="h43" autocomplete="off" disabled></td>
                            <td><input type="text" id="h44" autocomplete="off" disabled></td>
                            <td><input type="text" id="h45" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row5">
                            <td><input type="text" id="h51" autocomplete="off" disabled></td>
                            <td><input type="number" id="h52" autocomplete="off" disabled></td>
                            <td><input type="text" id="h53" autocomplete="off" disabled></td>
                            <td><input type="text" id="h54" autocomplete="off" disabled></td>
                            <td><input type="text" id="h55" autocomplete="off" disabled></td>
                        </tr>
                    </tbody>
                </table>

                <table id="coldIngredientsTable" class="ingredient-table">
                    <thead>
                        <tr>
                            <th>Ingrediente Frío</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Descripción Ingrediente</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row1">
                            <td><input type="text" id="c11" autocomplete="off" disabled></td>
                            <td><input type="number" id="c12" autocomplete="off" disabled></td>
                            <td><input type="text" id="c13" autocomplete="off" disabled></td>
                            <td><input type="text" id="c14" autocomplete="off" disabled></td>
                            <td><input type="text" id="c15" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row2">
                            <td><input type="text" id="c21" autocomplete="off" disabled></td>
                            <td><input type="number" id="c22" autocomplete="off" disabled></td>
                            <td><input type="text" id="c23" autocomplete="off" disabled></td>
                            <td><input type="text" id="c24" autocomplete="off" disabled></td>
                            <td><input type="text" id="c25" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row3">
                            <td><input type="text" id="c31" autocomplete="off" disabled></td>
                            <td><input type="number" id="c32" autocomplete="off" disabled></td>
                            <td><input type="text" id="c33" autocomplete="off" disabled></td>
                            <td><input type="text" id="c34" autocomplete="off" disabled></td>
                            <td><input type="text" id="c35" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row4">
                            <td><input type="text" id="c41" autocomplete="off" disabled></td>
                            <td><input type="number" id="c42" autocomplete="off" disabled></td>
                            <td><input type="text" id="c43" autocomplete="off" disabled></td>
                            <td><input type="text" id="c44" autocomplete="off" disabled></td>
                            <td><input type="text" id="c45" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row5">
                            <td><input type="text" id="c51" autocomplete="off" disabled></td>
                            <td><input type="number" id="c52" autocomplete="off" disabled></td>
                            <td><input type="text" id="c53" autocomplete="off" disabled></td>
                            <td><input type="text" id="c54" autocomplete="off" disabled></td>
                            <td><input type="text" id="c55" autocomplete="off" disabled></td>
                        </tr>
                    </tbody>
                </table>
                <table class="tab-content-button">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <label for="sumatmg">Total</label>
                                    <input type="text" id="sumatmg" autocomplete="off" disabled>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdModificarClick()" id="button-modify-tmg">
                                        <img src="./src/assets/images/wrench.png" alt="Icon">
                                        Modificar Receta
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdActualizarClick()">
                                        <img src="./src/assets/images/refresh.png" alt="Icon">
                                        Actualizar Receta
                                    </button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- INGREDIENTES BALANZA TAB -->
            <div id="tab2" class="tab-content">
                <table id="ingredientsTable" class="ingredient-table">
                    <thead>
                        <tr>
                            <th>Ingrediente</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Descripción Ingrediente</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row1">
                            <td><input type="text" id="i11" autocomplete="off" disabled></td>
                            <td><input type="number" id="i12" autocomplete="off" disabled></td>
                            <td><input type="text" id="i13" autocomplete="off" disabled></td>
                            <td><input type="text" id="i14" autocomplete="off" disabled></td>
                            <td><input type="text" id="i15" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row2">
                            <td><input type="text" id="i21" autocomplete="off" disabled></td>
                            <td><input type="number" id="i22" autocomplete="off" disabled></td>
                            <td><input type="text" id="i23" autocomplete="off" disabled></td>
                            <td><input type="text" id="i24" autocomplete="off" disabled></td>
                            <td><input type="text" id="i25" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row3">
                            <td><input type="text" id="i31" autocomplete="off" disabled></td>
                            <td><input type="number" id="i32" autocomplete="off" disabled></td>
                            <td><input type="text" id="i33" autocomplete="off" disabled></td>
                            <td><input type="text" id="i34" autocomplete="off" disabled></td>
                            <td><input type="text" id="i35" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row4">
                            <td><input type="text" id="i41" autocomplete="off" disabled></td>
                            <td><input type="number" id="i42" autocomplete="off" disabled></td>
                            <td><input type="text" id="i43" autocomplete="off" disabled></td>
                            <td><input type="text" id="i44" autocomplete="off" disabled></td>
                            <td><input type="text" id="i45" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row5">
                            <td><input type="text" id="i51" autocomplete="off" disabled></td>
                            <td><input type="number" id="i52" autocomplete="off" disabled></td>
                            <td><input type="text" id="i53" autocomplete="off" disabled></td>
                            <td><input type="text" id="i54" autocomplete="off" disabled></td>
                            <td><input type="text" id="i55" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row6">
                            <td><input type="text" id="i61" autocomplete="off" disabled></td>
                            <td><input type="number" id="i62" autocomplete="off" disabled></td>
                            <td><input type="text" id="i63" autocomplete="off" disabled></td>
                            <td><input type="text" id="i64" autocomplete="off" disabled></td>
                            <td><input type="text" id="i65" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row7">
                            <td><input type="text" id="i71" autocomplete="off" disabled></td>
                            <td><input type="number" id="i72" autocomplete="off" disabled></td>
                            <td><input type="text" id="i73" autocomplete="off" disabled></td>
                            <td><input type="text" id="i74" autocomplete="off" disabled></td>
                            <td><input type="text" id="i75" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row8">
                            <td><input type="text" id="i81" autocomplete="off" disabled></td>
                            <td><input type="number" id="i82" autocomplete="off" disabled></td>
                            <td><input type="text" id="i83" autocomplete="off" disabled></td>
                            <td><input type="text" id="i84" autocomplete="off" disabled></td>
                            <td><input type="text" id="i85" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row9">
                            <td><input type="text" id="i91" autocomplete="off" disabled></td>
                            <td><input type="number" id="i92" autocomplete="off" disabled></td>
                            <td><input type="text" id="i93" autocomplete="off" disabled></td>
                            <td><input type="text" id="i94" autocomplete="off" disabled></td>
                            <td><input type="text" id="i95" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row10">
                            <td><input type="text" id="i101" autocomplete="off" disabled></td>
                            <td><input type="number" id="i102" autocomplete="off" disabled></td>
                            <td><input type="text" id="i103" autocomplete="off" disabled></td>
                            <td><input type="text" id="i104" autocomplete="off" disabled></td>
                            <td><input type="text" id="i105" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row11">
                            <td><input type="text" id="i111" autocomplete="off" disabled></td>
                            <td><input type="number" id="i112" autocomplete="off" disabled></td>
                            <td><input type="text" id="i113" autocomplete="off" disabled></td>
                            <td><input type="text" id="i114" autocomplete="off" disabled></td>
                            <td><input type="text" id="i115" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row12">
                            <td><input type="text" id="i121" autocomplete="off" disabled></td>
                            <td><input type="number" id="i122" autocomplete="off" disabled></td>
                            <td><input type="text" id="i123" autocomplete="off" disabled></td>
                            <td><input type="text" id="i124" autocomplete="off" disabled></td>
                            <td><input type="text" id="i125" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row13">
                            <td><input type="text" id="i131" autocomplete="off" disabled></td>
                            <td><input type="number" id="i132" autocomplete="off" disabled></td>
                            <td><input type="text" id="i133" autocomplete="off" disabled></td>
                            <td><input type="text" id="i134" autocomplete="off" disabled></td>
                            <td><input type="text" id="i135" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row14">
                            <td><input type="text" id="i141" autocomplete="off" disabled></td>
                            <td><input type="number" id="i142" autocomplete="off" disabled></td>
                            <td><input type="text" id="i143" autocomplete="off" disabled></td>
                            <td><input type="text" id="i144" autocomplete="off" disabled></td>
                            <td><input type="text" id="i145" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row15">
                            <td><input type="text" id="i151" autocomplete="off" disabled></td>
                            <td><input type="number" id="i152" autocomplete="off" disabled></td>
                            <td><input type="text" id="i153" autocomplete="off" disabled></td>
                            <td><input type="text" id="i154" autocomplete="off" disabled></td>
                            <td><input type="text" id="i155" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row16">
                            <td><input type="text" id="i161" autocomplete="off" disabled></td>
                            <td><input type="number" id="i162" autocomplete="off" disabled></td>
                            <td><input type="text" id="i163" autocomplete="off" disabled></td>
                            <td><input type="text" id="i164" autocomplete="off" disabled></td>
                            <td><input type="text" id="i165" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row17">
                            <td><input type="text" id="i171" autocomplete="off" disabled></td>
                            <td><input type="number" id="i172" autocomplete="off" disabled></td>
                            <td><input type="text" id="i173" autocomplete="off" disabled></td>
                            <td><input type="text" id="i174" autocomplete="off" disabled></td>
                            <td><input type="text" id="i175" autocomplete="off" disabled></td>
                        </tr>
                        <tr id="row18-extra">
                            <th><label for="itmg" style="font-weight: bold;">TMG</label></th>
                            <th><label for="icantidad" style="font-weight: bold;">Cantidad</label></th>
                            <th><label for="iunidad" style="font-weight: bold;">Unidad</label></th>
                            <th><label for="idescripcion" style="font-weight: bold;">Descripción Ingrediente</label></th>
                            <th></th>
                        </tr>
                        <tr id="row19-extra">
                            <td><input type="text" id="itmg" autocomplete="off" disabled></td>
                            <td><input type="number" id="icantidad" autocomplete="off" disabled></td>
                            <td><input type="text" id="iunidad" autocomplete="off" disabled></td>
                            <td><input type="text" id="idescripcion" autocomplete="off" disabled></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="tab-content-button">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <label for="sumabalanza">Total</label>
                                    <input type="text" id="sumabalanza" autocomplete="off" disabled>
                                </div>                                    
                            </td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdModificarClick()" id="button-modify-balanza">
                                        <img src="./src/assets/images/wrench.png" alt="Icon">
                                        Modificar Receta
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdActualizarClick()">
                                        <img src="./src/assets/images/refresh.png" alt="Icon">
                                        Actualizar Receta
                                    </button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>                    
            </div>

            <!-- PARÁMETROS IPSA TAB -->
            <div id="tab3" class="tab-content">
                
                <form>
                    <!-- Tanque TGD -->
                    <div class="parametros-ipsa">
                        <h3>Tanque TGD</h3>
                        <table>
                            <tr>
                                <th>Controlador de Temperatura</th>
                                <th>Controlador de Agitador</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="ipsa6"><span>✽</span>Set Point (°C):</label>
                                        <input type="number" id="ipsa6" name="tgd-temp" autocomplete="off" disabled>   
                                    </div>
                                    <div>
                                        <label for="ipsa9">Banda Muerta:</label>
                                        <input type="number" id="ipsa9" name="tgd-deadband" autocomplete="off" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="ipsa10">Set Point (Nivel):</label>
                                        <input type="number" id="ipsa10" name="tgd-agitator-level" autocomplete="off" disabled>
                                    </div>
                                    <div>
                                        <label for="ipsa11">Banda Muerta:</label>
                                        <input type="number" id="ipsa11" name="tgd-agitator-deadband" autocomplete="off" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="ipsa23">Retardo Nivel Bajo:</label>
                                        <input type="number" id="ipsa23" name="tgd-delay" autocomplete="off" disabled>
                                    </div>
                                    <div>
                                        <label for="ipsa7"><span>✽</span>Tiempo homog:</label>
                                        <input type="number" id="ipsa7" name="tgd-homogenization" autocomplete="off" disabled>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
            
                    <!-- Tanque TMG -->
                    <div class="parametros-ipsa">
                        <h3>Tanque TMG</h3>
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <label for="ipsa1"><span>✽</span>Set Point Temp Nivel Medio (°C):</label>
                                        <input type="number" id="ipsa1" name="tmg-temp-mid" autocomplete="off" disabled>
                                    </div>
                                    <div>
                                        <label for="ipsa2"><span>✽</span>Set Point Temp Nivel Alto (°C):</label>
                                        <input type="number" id="ipsa2" name="tmg-temp-high" autocomplete="off" disabled>                                            
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="ipsa21">Retardo Nivel Bajo:</label>
                                        <input type="number" id="ipsa21" name="tmg-low-delay" autocomplete="off" disabled>                               
                                    </div>
                                    <div>
                                        <label for="ipsa3"><span>✽</span>Tiempo homog lecitina (min):</label>
                                        <input type="number" id="ipsa3" name="tmg-lec-homo" autocomplete="off" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="ipsa4"><span>✽</span>Tiempo homog monoglic (min):</label>
                                        <input type="number" id="ipsa4" name="tmg-mono-homo" autocomplete="off" disabled>
                                    </div>
                                    <div>
                                        <label for="ipsa5"><span>✽</span>Tiempo homog final (min):</label>
                                        <input type="number" id="ipsa5" name="tmg-final-homo" autocomplete="off" disabled>
                                    </div>
                                    
                                </td>
                                <td>
                                    <div>
                                        <label for="ipsa22">Tiempo Soplado:</label>
                                        <input type="number" id="ipsa22" name="tmg-blow" autocomplete="off" disabled>                         
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
            
                    <!-- Tanque RT -->
                    <div class="parametros-ipsa">
                        <h3>Tanque RT</h3>
                        <table>
                            <tr>
                                <table class="vertical-input-group">
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="ipsa16">Nivel Carga Max:</label>
                                                <input type="number" id="ipsa16" name="rt-max-level" autocomplete="off" disabled>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa17">Nivel Carga Min:</label>
                                                <input type="number" id="ipsa17" name="rt-min-level" autocomplete="off" disabled>
                                            </div>                                                
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa18">Nivel Petición:</label>
                                                <input type="number" id="ipsa18" name="rt-request-level" autocomplete="off" disabled>                                                                                         
                                            </div>                                             
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa26">Retorno Nivel Bajo:</label>
                                                <input type="number" id="ipsa26" name="rt-return-low" autocomplete="off" disabled>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa20">Set Point Temperatura:</label>
                                                <input type="number" id="ipsa20" name="rt-temp-set" autocomplete="off" disabled>                                          
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                            <tr>
                                <table>
                                    <tr>
                                        <th>Agitador 1</th>
                                        <th>Agitador 2 (Válido para Linea 1)</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="vertical-input-field">
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa14">Set Point (Nivel):</label>
                                                            <input type="number" id="ipsa14" name="rt-agitator1" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa15">Banda Muerta:</label>
                                                            <input type="number" id="ipsa15" name="rt-agitator1-deadband" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="vertical-input-field">
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa29">Set Point (Nivel):</label>
                                                            <input type="number" id="ipsa29" name="rt-agitator2" autocomplete="off" disabled>
                                                        </div>                                                            
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa30">Banda Muerta:</label>
                                                            <input type="number" id="ipsa30" name="rt-agitator2-deadband" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </div>
            
                    <!-- Tanque TPB -->
                    <div class="parametros-ipsa">
                        <h3>Tanque TPB</h3>
                        <table>
                            <tr>
                                <table class="vertical-align">
                                    <tr>
                                        <td>
                                            <div>
                                                <label for="ipsa8">Tiempo homog final (min):</label>
                                                <input type="number" id="ipsa8" name="tpb-final-homo" autocomplete="off" disabled>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa25">Tiempo Soplado:</label>
                                                <input type="number" id="ipsa25" name="tpb-blow" autocomplete="off" disabled>
                                            </div>                                                
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa24">Retardo Nivel Bajo:</label>
                                                <input type="number" id="ipsa24" name="tpb-low-delay" autocomplete="off" disabled>                                                                
                                            </div>                                             
                                        </td>
                                        <td>
                                            <div>
                                                <label for="ipsa19">Set Point Temperatura:</label>
                                                <input type="number" id="ipsa19" name="tpb-temp-set" autocomplete="off" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                            <tr>
                                <table>
                                    <tr>
                                        <th>Agitador 1</th>
                                        <th>Agitador 2 (Válido para Linea 1)</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="vertical-input-field">
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa12">Set Point (Peso):</label>
                                                            <input type="number" id="ipsa12" name="tpb-agitator1" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa13">Banda Muerta:</label>
                                                            <input type="number" id="ipsa13" name="tpb-agitator1-deadband" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="vertical-input-field">
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa27">Set Point (Peso):</label>
                                                            <input type="number" id="ipsa27" name="tpb-agitator2" autocomplete="off" disabled>
                                                        </div>                                                            
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <label for="ipsa28">Banda Muerta:</label>
                                                            <input type="number" id="ipsa28" name="tpb-agitator2-deadband" autocomplete="off" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </div>
                </form>
                <table class="tab-content-button">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdModificarClick()" id="button-modify-ipsa">
                                        <img src="./src/assets/images/wrench.png" alt="Icon">
                                        Modificar Receta
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="button-image-left" type="button" onclick="app.formAbrir.cmdActualizarClick()">
                                        <img src="./src/assets/images/refresh.png" alt="Icon">
                                        Actualizar Receta
                                    </button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="right-content">
        <div id="div-recipe-code">
            <label for="idCodeRecipe">Código de Receta</label>
            <input type="text" id="idCodeRecipe" name="recipe-code" disabled>
        </div>
        <button id="b11" class="button-image-top" onclick="app.formAbrir.cmdGuardarClick()">
            <img src="./src/assets/images/icons8-save-50.png" alt="Icon">
            Guardar
        </button>
        <button id="b12" class="button-image-top" onclick="app.formAbrir.cmdComoClick()">
            <img src="./src/assets/images/icons8-save-as-50.png" alt="Icon">
            Guardar Como
        </button>
        <button id="b13" class="button-image-top" onclick="app.formAbrir.cmdEliminarClick()">
            <img src="./src/assets/images/icons8-delete-50.png" alt="Icon">
            Eliminar
        </button>
        <button id="b14" class="button-image-top" onclick="app.formAbrir.cmdTransferirClick()">
            <img src="./src/assets/images/icons8-write-64.png" alt="Icon">
            Transferir
        </button>
        <button id="b15" class="button-image-top" onclick="app.formAbrir.cmdImprimirClick()">
            <img src="./src/assets/images/icons8-print-50.png" alt="Icon">
            Imprimir
        </button>
        <button id="b16" class="button-image-top" onclick="app.unload()">
            <img src="./src/assets/images/icons8-exit-door-64.png" alt="Icon">
            Salir
        </button>
    </div>
</div>