<div class="form-container escoger">
    <div class="form-content-header">
        <table>
            <tbody>
                <tr>
                    <td class="recipe-nombre">
                        <label for="nombre-nueva-receta" style="font-weight: bold; width: 220px;">Nombre de Nueva Receta: </label>
                        <input type="text" name="nombre-nueva-receta" id="nombre-nueva-receta" required style="height: 20px; width: 350px;">
                    </td>
                    <td class="right-title">
                        <label id="esc-title">#</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="central-content">
        <div>
            <table class="element-list">
                <tbody>
                    <tr>
                        <td>
                            <p class="list-title">Ingredientes Existentes</p>
                            <ul id="ingr-exist" class="ingr-list">
                            </ul>
                        </td>
                        <td>
                            <button id="cmdPut" disabled onclick="app.formEscoger.cmdPutClick()">>></button>
                            <button id="cmdGet" disabled onclick="app.formEscoger.cmdGetClick()">&lt;&lt;</button>
                        </td>
                        <td>
                            <p class="list-title">Ingredientes Seleccionados</p>
                            <ul id="ingr-select"  class="ingr-list">
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom-button-banner">
            <button class="button-image-top" onclick="app.formEscoger.cmdAceptarClick()">
                <img src="./src/assets/images/icons8-save-as-50.png" alt="Aceptar">
                Aceptar
            </button>
            <button class="button-image-top" onclick="app.unload()">
                <img src="./src/assets/images/icons8-exit-door-64.png" alt="Salir">
                Salir
            </button>
        </div>
    </div>
</div>