<div class="form-container ingredientes">
  <div class="form-content-header" style="height: auto">
    <table>
      <tbody>
        <tr
          style="align-items: center"
        >
          <td style="flex-direction: column; align-items: start">
            <div style="font-weight: bold; width: 220px; margin-bottom: 10px; text-align: left;">
              Listado de Ingredientes
            </div>
            <div
              style="
                border-radius: 8px;
                background-color: #f2f2f2;
                align-items: start;
                margin: 0px;
              "
            >
              <label style="cursor: pointer;">
                <input
                  type="radio"
                  name="option"
                  value="C"
                  onchange="app.formIngredientes.cmdLoadClick(event)"
                />
                COPSA
              </label>
              <span style="width: 10px"></span>
              <label style="cursor: pointer;">
                <input
                  type="radio"
                  name="option"
                  value="P"
                  onchange="app.formIngredientes.cmdLoadClick(event)"
                />
                PACOCHA
              </label>
            </div>
          </td>
          <td style="align-items: end;">
            <button class="button-image-top" style="margin-left: auto;" onclick="app.unload()">
              <img
                src="./src/assets/images/icons8-exit-door-64.png"
                alt="Icon"
              />
              Cerrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="central-content">
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <ul id="ingr-list" class="ingr-data" style="height: 500px; display: none;">
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
