/* Cabecera de formulario */
.escoger .recipe-nombre label {
    margin-right: 10px;
}

.escoger  .recipe-nombre input {
    font-size: 11pt;
    flex-grow: 1;
    width: auto;
}

.escoger .right-title {
    font-weight: bold;
    justify-content: center;
}

.escoger .element-list .list-title {
    color: blue;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    text-align: left;
}

.escoger  .element-list td {
    padding: 0px;
}

/* Formato de 3 columnas */
.escoger .element-list td:nth-child(1) {
    width: 48%;
}

.escoger .element-list td:nth-child(2) {
    width: 4%;
}

.escoger .element-list td:nth-child(3) {
    width: 48%;
}

/* Estilo de listado de ingredientes */
.escoger .ingr-list {
    border: 1px solid #ccc;
    background: #fff;
    height: 400px;
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px;
    overflow-y: auto;
}

.escoger .ingr-list li {
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}

.escoger .ingr-list li:hover {
    background-color: rgba(125, 204, 246, 1);
    color: white;
}

.escoger .li-selected {
    background-color: rgba(125, 204, 246, 1);
    color: white;
}

.escoger .bottom-button-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
