.ingredientes .ingr-data {
    border: 1px solid #ccc;
    background: #fff;
    height: 400px;
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px;
    overflow-y: auto;
}

.ingredientes .ingr-data li {
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 25px;
}

.ingredientes .ingr-data div {
    margin: 0px;
    padding: 0px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #ccc;
    border-left: 1px solid transparent;
    box-sizing: border-box;
    font-size: 10pt;
    align-content: center;
    text-align: left;
}

.ingredientes .ingr-data li:first-child {
    font-weight: bold;
    background-color: rgba(224, 224, 224);
}

.ingredientes .ingr-data li div:nth-child(1) {
  flex: 2;
}
.ingredientes .ingr-data li div:nth-child(2) {
  flex: 5;
}
.ingredientes .ingr-data li div:nth-child(3) {
  flex: 5;
}
.ingredientes .ingr-data li div:nth-child(4) {
  flex: 1;
}